*{
    box-sizing: border-box;
    
}

body {  
    font-size: 16px;
    font-family: Verdana, Tahoma, sans-serif; 
}

h3{
    font-weight: bold;
}

.forecast{
    
    font-size: .7em;
}

span{
    font-size: 1em;
}

li:hover{
    background-color: red;
    text-decoration: underline;
}
